body {
    background-color: #d5e1ef;
    width: 1440px;
    font-family: 'Outfit', sans-serif;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-size: 20px;
  }

  section {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 30%;
    height: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  img {
    border-radius: 1rem;
    width: 90%;
    margin: 5%;
  }

  .title {
      text-align: center;
      margin: 0% 10% 10% 10%;
      color: #1e2c43;
  }

  p {
    text-align: center;
    margin: 10%;
    color: #969aa5;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5%;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }